.navBar {
    background-color: grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

